<h1>Add a new visit!</h1>

<% if @error %>
<p><%= @error %></p>
<% end%>

<form action="/users/pets/<%= @pet.id %>/visits" method="POST">
<label>Cost: </label>
<input type="number" name="visit[cost]" />

<label>Description: </label>
<input type="text" name="visit[description]" />

<label>Date: </label>
<input type="date" name="visit[date]" />
<br>
<br>

<h3>Add a new Vet or select an exisisting on below</h3>


<label>Name: </label>
<input type="text" name="vet[name]" />

<label>Location: </label>
<input type="text" name="vet[location]" />

<label>Specialty: </label>
<input type="text" name="vet[specialty]" />
<br>
<br>

<% @vets.each do |vet|%>
    <input type="radio" name="vet[id]" id="<%= vet.id %>" value="<%= vet.id %>"><%= vet.name %><br>
  <% end %>
  <br>

<input type="submit" name="Create a new visit!">
</form>

 