<h1>Welcome, <%= @user.name %>!</h1>
<br>
<button><a href="/users/pets/new">Add a new pet!</a></button>
<br>
<br>
<% if @user.pets.length > 0 %>
<h2>Here are your pets!</h2>
<% pets = @user.pets.order(average_cost: :desc)%>


<% pets.each do |pet| %>
<div>
    <h3><%= pet.name %></h3>
    <p><%= pet.category %></p>
   
    <% if pet == pets.first %>
     <p>~*~*~*~*  Most expensive pet! ~*~*~*~*</p>
    <% elsif  pet == pets.last %>
      <p>~*~*~*~*~* Least expensive pet! ~*~*~*~*</p>
    <% end %>
    
    <% if pet.average_cost != nil %>
      <p>Average monthly cost: $<%= pet.average_cost %></p>
    <% end %>

    <button><a href="/users/pets/<%= pet.id  %>">View more about <%= pet.name %></a></button>
    <button><a href="/users/pets/<%= pet.id %>/edit">Edit <%= pet.name %></a> </button>

    <br>
</div>
<% end%>



<br>
<% end %>

<br>

    <button><a href="/logout">Log out</a></button>