<h1><%= @item.category %></h1>
<h2>Cost: <%= @item.cost %></h2>
<p>Order date:  <%= @item.order_date %></p>
<p>Arrival date:  <%= @item.order_date %></p>
<p>Complete date:  <%= @item.order_date %></p>


