<h1><%= @item.name %></h1>
<h2>Category: <%= @item.category %></h2>
<h2>Cost: <%= @item.cost %></h2>
<p>Order date:  <%= @item.order_date %></p>



<form action="/users/pets/<%= @item.pet_id %>/items/<%= @item.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" id="delete" value="Delete <%= @item.name %>">
</form>